@import "./../variables";
@import "./../mixins";

.booking-form {
    width: 60%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;

    & > * {
        width: $size-100;
    }

    p {
        text-align: left;
    }

    @include for-small-screens {
        width: 70%;
    }

    .booking-field-container {
        @include flex-align-centered;
        justify-content: flex-start;
        height: 40px;
        margin-bottom: 15px;

        &:nth-child(6),
        &:nth-child(7) {
            flex-direction: column;
            align-items: flex-start;
            height: fit-content;
        }

        &:nth-child(6) {
            padding-left: 40px;
            margin-bottom: 20px;

            label {
                height: 40px;
                width: fit-content;
                margin: {
                    left: -40px;
                    bottom: 5px;
                }
            }

        }

        label {
            height: $size-100;
            width: 10%;
            @include flex-align-centered;

            @include for-small-screens {
                width: 40%;
            }
        }
    }

    .booking {
        &-input-field {
            height: $size-100;
            padding-left: 20px;
            font-size: 1em;
        }

        &-field {
            border: 2px solid lighten($color-grey-support, 50%);
            outline: lighten($color-grey-support, 50%);
            border-radius: 5px;
            height: $size-100;
            width: 20%;
            font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;

            &:hover {
                border-color: $color-red-primary;
                outline: $color-red-primary;
                cursor: pointer;
            }

            @include for-small-screens {
                width: 50%;
                margin-left: 10px;
            }
        }

        &-date {
            width: $size-100;
            padding-left: 10px;
        }

        &-select {
            margin-left: 0 !important;
            width: 20% !important;
        }
    }

    textarea {
        resize: none;
        width: 60% !important;
        height: 100px !important;
        padding: 10px;

        @include for-small-screens {
            margin-left: 0 !important;
            width: $size-100 !important;
        }
    }

    .slick {
        &-slider {
            width: $size-booking;

            @include for-small-screens {
                width: 200px;
            }
        }

        &-next,
        &-prev {
            width: 20px;
            height: 20px;
            background: $color-red-primary;
            border-radius: 50%;

            &::before {
                font-size: 20px;
                background: $color-red-primary;
                border-radius: 50%;
                @include flex-align-centered;
                justify-content: center;
            }

            @include for-small-screens {
                display: none !important;
            }
        }

    }

    .venue-image {
        width: $size-booking;
        height: $size-booking;
        object-fit: cover;

        @include for-small-screens {
            width: 200px;
            height: 200px;
        }
    }

    .react-datepicker-wrapper {
        height: $size-100;
        width: 20%;

        & > * {
            height: $size-100;
        }

        @include for-small-screens {
            width: 50%;
        }
    }

    .info {
        &-tooltip {
            height: $size-100;
            @include flex-align-centered;
        }

        &-icon {
            margin: 0 10px;
            height: $size-50;
            color: $color-grey-support;

            &:hover {
                color: $color-red-primary;
            }

            @include for-small-screens {
                display: none;
            }
        }

        &-text {
            height: 75%;
            border-radius: 7px;
            opacity: 95%;
            background: lighten($color-black-accent, 5%);
            color: $color-white;
            @include flex-align-centered;
            padding: 0 10px;
        }
    }

    input[type="submit"] {
        margin-top: 10px;
        width: fit-content;
        background: $color-red-primary;
        color: $color-white;
        border: none;
        border-radius: 6px;
        padding: 10px 20px;
        font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;

        &:hover {
            background: darken($color-red-primary, 10%);
        }
    }
}

