@import "src/scss/variables";
@import "src/scss/mixins";

.contacts-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 1%;

  @include for-small-screens {
    flex-direction: column;
  }
}

#contacts {
  position: relative;
  left: 10%;
  top: -5em;
  background: $color-red-primary;
  width: 30%;
  height: 20%;
  padding: 2.7%;

  @include for-small-screens {
    width: 80%;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin: {
    left: 10%;
    right: 10%;
  }

  @include for-small-screens {
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
  }

  p {
    width: fit-content;

    @include for-small-screens {
      width: $size-100;
      text-align: right;
      margin: 0;
      font-size: 0.8em;
    }
  }
}

.map {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: {
    left: 15%;
    top: 1%;
  }

  @include for-small-screens {
    width: 70%;
    margin-top: -15%;
  }

  p {
    width: fit-content;
  }

  iframe {
    width: $size-100;
  }
}

.contact {
  &-info {
    @include for-small-screens {
      padding-left: 10px;
    }

    p {
      width: fit-content;
      text-transform: uppercase;

      @include for-small-screens {
        font-size: 0.9em;
        text-align: left;
      }
    }
  }

  &-logo {
    @include flex-align-centered;
    justify-content: flex-start;
    margin: {
      bottom: 7%;
    }

    @include for-small-screens {
      margin-top: 10px;
    }

    a {
      color: $color-white;
      text-decoration: none;
      width: fit-content;
      font-size: 3em;

      @include for-small-screens {
        font-size: 1.5em;
      }

      p {
        margin: 0;
      }
    }

    .logo {
      width: $size-25;
      height: $size-25;
    }
  }
}

//.quick-links {
//  display: flex;
//  align-items: flex-start;
//  width: 10%;
//  margin: {
//    left: 13%;
//    top: 3%;
//  }
//
//  a {
//    text-decoration: none;
//    color: $color-white;
//    margin: {
//      right: 10%;
//      left: 10%;
//    }
//
//    &:hover {
//      color: $color-red-primary;
//    }
//  }
//}
