@import "src/scss/variables";
@import "src/scss/mixins";

.contacts-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 1%;
}

#contacts {
  position: relative;
  left: 10%;
  top: -5em;
  background: $color-red-primary;
  width: 30%;
  height: 20%;
  padding: 2.7%;
}

.copyright {
  display: flex;
  justify-content: space-between;

  margin: {
    left: 10%;
    right: 10%;
  }

  p {
    width: fit-content;
  }
}

.map {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: {
    left: 15%;
    top: 1%;
  }

  p {
    width: fit-content;
  }

  iframe {
    width: 100%;
  }
}

.contact {
  &-info {
    p {
      width: fit-content;
      text-transform: uppercase;
    }
  }

  &-logo {
    @include flex-align-centered;
    justify-content: flex-start;
    margin: {
      bottom: 7%;
    }

    a {
      color: $color-white;
      text-decoration: none;
      width: fit-content;
      font-size: 3em;

      p {
        margin: 0;
      }
    }

    .logo {
      width: 25%;
      height: 25%;
    }
  }
}

//.quick-links {
//  display: flex;
//  align-items: flex-start;
//  width: 10%;
//  margin: {
//    left: 13%;
//    top: 3%;
//  }
//
//  a {
//    text-decoration: none;
//    color: $color-white;
//    margin: {
//      right: 10%;
//      left: 10%;
//    }
//
//    &:hover {
//      color: $color-red-primary;
//    }
//  }
//}
