@import "./../variables";
@import "./../mixins";

.events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 50px;
  width: 70%;
  margin-top: 25px;
  @include for-small-screens {
    grid-template-columns: repeat(1, 1fr);
  }
}

.filter-container {
  @include flex-align-centered;
  justify-content: flex-start;
  width: 70%;

  @include for-small-screens {
    flex-direction: column;
  }
}

.event {
  &-title,
  &-location,
  &-date {
    font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    align-items: flex-start;
    padding: 0 20px;
    svg {
      height: 1.8em;
    }
  }

  &-title {
    margin-top: 0;
    padding-top: 20px;
  }

  &-location,
  &-date {
    font-size: 0.9em;
    opacity: 50%;
  }

  //&-description {
  //  text-align: left;
  //  width: $size-100;
  //  height: fit-content;
  //  overflow: hidden;
  //  color: $color-black-accent;
  //  font-size: 0.9em;
  //}

  &-image {
    width: $size-100;
    height: $size-100;
    padding-top: 10px;
  }

  &-filters {
    width: $size-50;
    display: flex;
    align-items: flex-start;

    @include for-small-screens {
      width: $size-100;

      &:first-child {
        .filter-input-container {
          flex-direction: column;
          margin-bottom: 20px;
        }
      }
    }

    &:nth-child(2) {
      margin-left: -120px;

      @include for-small-screens {
        margin-left: 0;
      }
    }

    .filter {
      &-legend {
        font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
      }

      &-label {
        font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
        width: fit-content;
      }

      &-input-container {
        display: flex;
        margin-top: 15px;
        width: 80%;

        @include for-small-screens {
          width: $size-100;

          .type-select {
            width: $size-100;

            &__menu {
              width: 210px;
            }
          }
        }
      }

      &-date {
        border: 2px solid lighten($color-grey-support, 50%);
        border-radius: 5px;
        width: $size-100;
        height: $size-100;
        font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
        padding-left: 10px;

        &:hover {
          border-color: $color-red-primary;
          outline: $color-red-primary;
          cursor: pointer;
        }
      }
    }

    .date-radio {
      color: $color-red-primary;
    }

    .react-datepicker-wrapper {
      margin-right: 25px;

      & > div {
        height: $size-100;
      }

      @include for-small-screens {
        height: 40px;
        margin-right: 0;
        width: $size-100;
      }
    }
  }
}

.card {
  padding: 0;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-header {
    padding: 0 !important;
    p {
      width: $size-100;
      display: flex;
      justify-content: flex-start;
      color: $color-grey-support;
      text-align: left;

      svg {
        margin-right: 10px;
      }
    }
  }

  &-content {
    padding: 0 !important;
    height: 200px !important;
  }

  &-actions {
    height: 45px;
    width: $size-100;
  }
}

.event-btn-container {
  @include for-small-screens {
    @include flex-align-centered;
    width: $size-100;
  }

  button {
    background: $color-white;
    border: none;
    width: 270px;
    height: 80px;
    margin: 40px 40px 0 40px;
    font-size: 1.3em;
    color: $color-red-primary;
    transition: 0.2s;

    @include for-small-screens {
      width: 50%;
      margin: 20px 20px 0 20px;
    }

    &:hover {
      background: $color-red-primary;
      color: $color-white;
    }

    &:disabled,
    &[disabled]{
      color: lighten($color-grey-support, 20%);

      &:hover{
        background-color: $color-white;
        cursor: unset;
      }
    }
  }
}

