@import "./../variables";
@import "./../mixins";

.filter-container {
  @include flex-align-centered;
  justify-content: flex-start;
  width: 70%;

  @include for-small-screens {
    flex-direction: column;
  }
}

.event-filters {
  width: $size-50;
  display: flex;
  align-items: flex-start;

  @include for-small-screens {
    width: $size-100;

    &:first-child {
      .filter-input-container {
        flex-direction: column;
        margin-bottom: 20px;
      }
    }
  }

  &:nth-child(2) {
    width: 40%;
    margin-left: -100px;

    @include for-small-screens {
      margin-left: 0;
      width: $size-100;
      margin-bottom: 20px;
    }
  }

  &:nth-child(3) {
    width: 30%;
    margin-left: -130px;

    @include for-small-screens {
      margin-left: 0;
      width: $size-100;
    }

    input[type="text"] {
      border: 2px solid lighten($color-grey-support, 50%);
      outline: lighten($color-grey-support, 50%);
      border-radius: 5px;
      height: 42px;
      padding: 8px 18px;
      font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
      font-size: 1em;

      &:hover {
        border-color: $color-red-primary;
        outline: $color-red-primary;
        cursor: pointer;
      }
    }

    button {
      margin-left: 10px;
      background: $color-red-primary;
      border-radius: 4px;
      border: none;
      width: 42px;
      color: $color-white;

      &:hover {
        background: darken($color-red-primary, 10%);
      }
    }
  }

  .filter {
    &-legend {
      font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    }

    &-label {
      font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
      width: fit-content;
    }

    &-input-container {
      display: flex;
      margin-top: 15px;
      width: 100%;

      @include for-small-screens {
        width: $size-100;

        .type-select {
          width: $size-100;

          &__menu {
            width: 210px;
          }
        }
      }
    }

    &-date {
      border: 2px solid lighten($color-grey-support, 50%);
      border-radius: 5px;
      width: $size-100;
      height: $size-100;
      font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
      padding-left: 10px;

      &:hover {
        border-color: $color-red-primary;
        outline: $color-red-primary;
        cursor: pointer;
      }
    }
  }

  .date-radio {
    color: $color-red-primary;
  }

  .react-datepicker-wrapper {
    margin-right: 25px;

    & > div {
      height: $size-100;
    }

    @include for-small-screens {
      height: 40px;
      margin-right: 0;
      width: $size-100;
    }
  }
}