@import "src/scss/variables";
@import "src/scss/mixins";

.slide {
  background-size: cover !important;
  @include flex-align-centered;
  align-items: center;
  flex-direction: column;
  font-weight: bold;

  & > * {
    z-index: 1;
    color: $color-white;
  }

  p {
    font-size: 1.2em;
    @include for-small-screens {
      font-size: 0.9em;
      width: 50%;
    }
  }

  h3 {
    font-size: 2em;
    margin: {
      top: 10%;
    }
    @include for-small-screens {
      font-size: 1.8em;
      width: 50%;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: $size-100;
    height: $size-100;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
  }
}

.nextButton,
.previousButton {
  color: $color-white !important;

  &:hover {
    color: $color-red-primary !important;
  }
}

.slider {
  height: 60vh;
  margin-top: 5em;

}
