@import "src/scss/variables";
@import "src/scss/mixins";

header {
  width: 100%;
  height: 5em;
  position: fixed;
  z-index: 2;
  top: 0;
}

nav {
  background: $color-red-primary;
  color: $color-white;
  @include flex-align-centered;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
  margin: {
    left: 1em;
    right: 1em;
  }
}

.title {
  @include flex-align-centered;

  a {
    color: $color-white;
    text-decoration: none;
  }
}

.menu {
  font-size: 1.2em;
  @include flex-align-centered;

  a {
    color: $color-white;
    margin: {
      left: 1.5em;
      right: 1.5em;
    }
    text-decoration: none;
  }
}
