@import "variables";
@import "mixins";

.contacts-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 1%;
}

#contacts {
  position: relative;
  left: 10%;
  top: -5em;
  background: $color-red-primary;
  width: 30%;
  height: 20%;
  padding: 2.7%;
}

.copyright {
  display: flex;
  justify-content: space-between;

  margin: {
    left: 10%;
    right: 10%;
  }

  p {
    width: fit-content;
  }
}

.contact {
  &-logo {
    @include flex-align-centered;
    justify-content: flex-start;
    margin: {
      bottom: 7%;
    }

    a {
      color: $color-white;
      text-decoration: none;
      width: fit-content;
      font-size: 3em;

      p {
        margin: 0;
      }
    }

    .logo {
      width: 25%;
      height: 25%;
    }
  }

  &-info {
    p {
      width: fit-content;
    }
  }
}

.map {
  display: flex;
  flex-direction: column;
  margin: {
    left: 15%;
  }

  p {
    width: fit-content;
  }
}

.quick-links {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  margin: {
    left: 13%;
    top: 1%;
  }

  a {
    text-decoration: none;
    color: $color-white;
    margin: {
      right: 10%;
      left: 10%;
    }

    &:hover {
      color: $color-red-primary;
    }
  }

}