@import "variables";
@import "mixins";

.slide {
  background-size: cover !important;
  @include flex-align-centered;
  align-items: center;
  flex-direction: column;
  font-weight: bold;

  & > * {
    z-index: 1;
    color: $color-white;
  }

  p {
    font-size: 1.2em;
  }

  h3 {
    font-size: 2em;
    margin: {
      top: 10%;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
  }
}

.nextButton, .previousButton {
  color: $color-white !important;

  &:hover {
    color: $color-red-primary !important;
  }
}

.slider {
  height: 60vh;
}
