$color-red-primary: #a82548;
$color-black-accent: #0d1321;
$color-grey-support: #524540;
$color-brown-accent: #864f2f;
$color-white: #fff;

$size-booking: 300px;
$size-100: 100%;
$size-50: 50%;
$size-25: 25%;